.root {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  z-index: 1;
}

.searchBlock {
  display: flex;
  position: relative;
  margin-right: 15px;
  svg {
    position: absolute;
    top: 10px;
    font-size: 18px;
    left: 10px;
    opacity: 0.7;
  }
  input {
    border: 1px solid transparent;
    border-radius: 10px;
    background: rgba(171, 171, 171, 0.18);
    font-size: 14px;
    padding: 10px 10px 10px 35px;
    transition: all 0.1s ease-in-out;
    &:hover,
    &:focus {
      background: white;
      border-color: darken(#a30041, 10%);
      box-shadow: 0 0 0 3px #a300411e;
      color: black;
    }
    &:focus {
      outline: 1px solid white;
    }
  }
}

.notification_button {
  margin-left: 10px !important;
}
