@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
