@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
html,
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  /*outline: 1px solid blue;*/
  font-family: 'Montserrat', sans-serif !important;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'sidebar main main main main main'
    'sidebar footer footer footer footer footer';
}

.wrapper {
  display: flex;
  padding: 10px 15px 0;
}

.content {
  max-width: 640px;
  width: 100%;
  margin: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
